<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>Controllers.loginServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>MyNewPass</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql://localhost:3306/ustfits?useSSL=false</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>ustfits</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>studentLogServlet</servlet-name>
        <servlet-class>Controllers.studentLogServlet</servlet-class>
        <init-param>
            <param-name>jdbcClassName</param-name>
            <param-value>com.mysql.cj.jdbc.Driver</param-value>
        </init-param>
        <init-param>
            <param-name>dbUserName</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>MyNewPass</param-value>
        </init-param>
        <init-param>
            <param-name>jdbcDriverURL</param-name>
            <param-value>jdbc:mysql://localhost:3306/ustfits?useSSL=false</param-value>
        </init-param>
        <init-param>
            <param-name>databaseName</param-name>
            <param-value>ustfits</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentLogServlet</servlet-name>
        <url-pattern>/studentLogServlet</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
    
    
    
</web-app>
